<div class="title__paginacion">
    <h1>Ventas</h1>
    <div class="div-paginacion">
        <ul>
          <li>
            <a href="#"><<</a>
        </li>
          <li>
            <a href="#">Anterior</a>
        </li>
          <li >
            <a class="no-active-a" href="#">Siguiente</a>
        </li>
          <li>
            <a href="#">>></a>
        </li>
        </ul>
      </div> 
</div>