* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar__main {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    height: 100vh;
    letter-spacing: 2px
}

.navbar__div-logo {
    margin-bottom: 20px;
    padding: 20px;
}

.navbar__div-logo img {
    display: block;
    margin: auto;
    width: 100%;

}

.navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0d3531;

}

.navbar__menu-main {
    margin-top: 20px;
    width: 100%;

}

.navbar__menu-logout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 45px;
}

.icons-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    line-height: 2em;
    cursor: pointer;
    background-color: #0d3531;
    color: #fff;
    padding-left: 5px;
    font-size: 15px;
}

hr {
    width: 85%;
    background-color: white;
    margin: 20px 0px 10px 0px;
    align-self: center;
}

.icons-menu-logout {
    display: flex;
    flex-wrap: wrap;

}

.icons-menu-logout i {
    text-align: center;
    width: 20px;
    margin-left: 10px;

}

span:hover {
    text-decoration: underline;
}


.icons-menu i {
    text-align: center;
    width: 20px;
    margin-left: 10px;
    margin-right: 5px;
}


a {
    text-decoration: none;
    color: #fff;
}

.active {
    text-decoration: underline;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}



.icons-menu__send-data span:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    background-color: #e5ecef !important;
}


/* TABLA */

.container__info {
    width: 100%;
    height: 100vh;
}

.container__info-table {
    display: flex;
}

.container__info div {
    width: 100%;
}

.div-table {
    padding: 15px;
    overflow: scroll;
    height: 100vh;
}

.resum-table {
    width: 200px !important;
    padding: 15px;
    overflow:hidden;
    
}

.div-table table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 11px Arial, sans-serif;
    margin-top: 70px;
}


.div-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    position: sticky;
    top: 70px;
    z-index: 10;
    background-color: #ecdcdc;
    font-size: 12px;
}

.div-table tbody td {
    border: solid 1px #22f7f7;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.table-horizontal tbody td {
    border-left: none;
    border-right: none;
}

.title {
    background-color: #e1edf2 !important;
    position: fixed;
    width: 85% !important;
    height: 87px;
    padding: 20px 0px 5px 15px;
    top: 0px;
    
}


.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 230px;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;

}

.color-info {
    background-color: #33b5e5;
    /* color: #164d61; */
    color: #fff;
}

.color-success {
    background-color: #00C851;
    /* color: #005823; */
    color: #fff;
}

.color-danger {
    background-color: #ff4444;
    /* color: rgb(50, 12, 6) */
    color: #fff;
}

.message div {
    display: flex;
    align-items: center;

}

.message div p {
    margin-left: 10px;
}

.message div i {
    font-size: 30px;
    cursor: default;
}

.message i {
    cursor: pointer;
}

.hidden {
    display: none;
}

.uploading {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 100;
    background-color: rgb(245, 245, 252);
    display: none;
}

.img-uploading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    border-radius: 20px;
}

.display-name {
    font-family: courier;
    letter-spacing: 0px;
    color: #fff;
    margin-left: 10px;
    padding-top: 10px;
}

.display-name:hover {
    text-decoration: none;
    cursor: default;
}

.no-informado {
    background-color: rgb(241, 163, 163);
   
}